<nav class="navbar container" role="navigation" aria-label="main-navigation">
  <div class="navbar-brand is-flex is-align-items-center is-justify-content-center">
    <a class='ml-5' href="https://www.instagram.com/livrosexplosivos" target="_blank"><i class="fa fa-instagram navbar-item"></i></a>
    <a href="https://twitter.com/gabigol84" target="_blank"><i class="fa fa-twitter navbar-item"></i></a>
    <a href="https://t.me/+bJxg1DTuSPEzNzIx" target="_blank"><i class="fa fa-telegram navbar-item"></i></a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">  
      <%= link_to "Início", root_path, class: 'navbar-item' %>
      
      <%= link_to "Sobre", about_index_path, class: 'navbar-item' %>
      <%= link_to "Contato", contact_index_path, class: 'navbar-item' %>

      <% if user_signed_in? %>
        <%= link_to "+ Nova Publicação", new_post_path, class: 'navbar-item'  %>
        <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'navbar-item'  %>
      <% end %>

      <div class="navbar-item field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Digite e busque algo">
          <span class="icon is-small is-right">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>
    </div>
  </div>
</nav>
