

<article class="tile is-child">
  <p class="title">Publicações mais recentes</p>
  <div class="content">
    <div class="container">
      <% @posts.each do |post| %>
        <div class="card mb-2">
          <% if post.featured_image.attached? %>
            <div class="card-image">
              <figure class="image is-full is-3by1">
                <%= image_tag post.featured_image %>
              </figure>
            </div>
          <% end %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a href="<%= post_path(id: post.id) %>"><p class="title is-4"><%= post.title %></p></a>
              </div>
            </div>
            <p>
              <%= truncate(strip_tags(post.content.to_s), length: 120) %> <%= link_to "Leia mais", post_path(post) %>
            </p>
            <p>Autor: <%= post.author %> </p>
            <p>Visualizações: <%= post.hits %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="columns is-centered is-mobile">
      <div class="column is-two-thirds-mobile m-2">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</article>
    



