<div class="container">
  <section class="columns is-mobile is-flex-mobile">
    <div class="container content-main column is-two-thirds-desktop  is-two-thirds-mobile">
      <div class="container">
        <% @posts.each do |post| %>
          <div class="card mb-2">
            <% if post.featured_image.attached? %>
              <div class="card-image">
                <figure class="image is-full is-3by1">
                  <%= image_tag post.featured_image %>
                </figure>
              </div>
            <% end %>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="<%= post_path(id: post.id) %>"><p class="title is-4"><%= post.title %></p></a>
                </div>
              </div>
              <p>
                <%= truncate(strip_tags(post.content.to_s), length: 120) %> <%= link_to "Leia mais", post_path(post) %>
              </p>
              <p>Autor: <%= post.author %> </p>
              <p>Visualizações: <%= post.hits %></p>
            </div>
          </div>
      <% end %>
      </div>
      <div class="columns is-centered is-mobile">
        <div class="column is-two-thirds-mobile m-2">
          <%= paginate @posts %>
        </div>
      </div>
    </div>

    <div class="content-side-bar column is-one-third is-one-fifth-tablet is-hidden-mobile">
      <div class="container mb-5 search">
        <div class="field">
          <p class="control has-icons-right">
            <input class="input" type="text" placeholder="Digite e busque algo">
            <span class="icon is-small is-right">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
      </div>

      <div class="container  mb-5 telegram-link">
        <a class=" is-flex is-align-items-center is-justify-content-center" href="https://www.instagram.com/livrosexplosivos" target="_blank"><i class="p-3 fa fa-telegram telegram"></i>
        <p>
          Entre no nosso canal do Telegram
        </p>
      </a>
      </div>

      <div class="container is-hidden mb-5 register-newsletter has-background-success">
        <label for="email">Digite seu e-mail</label>
        <input type="email" name="" id="">
        <button type="submit">Enviar</button>
      </div>

      <div class="container mb-5 is-hidden recommended-books has-background-warning">a</div>

      <div class="container mb-5 is-hidden google-ads has-background-danger">a</div>

      <div class="container mb-5 tags ">
        <h3 class="title is-4">Tags mais lidas</h3>
        <div class="block">
          <% @tags.each do |tag| %>
          <span class="tag has-text-white is-link is-italic is-info"><%= link_to tag.name, tag_path(id: find_tag_by_name(tag.name))%></span>

          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>


