<main class="welcome">
  <div class="container welcome-body">
    <h1 class="title p-5 is-size-4 has-text-centered is-family-monospace has-text-weight-bold">Últimas Públicações</h1>
    
    <div class="columns">
      <div class="column is-3">
        <div class="card mb-5">
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title"><%= link_to @posts[0].title, post_path(@posts[0]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            <p>
              <%= truncate(strip_tags(@posts[0].content.to_s), length: 100) %> <%=
              link_to "Leia mais", post_path(@posts[0]) %>
            </p>
            Autor: <%= @posts[0].author %>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4"><%= link_to @posts[1].title, post_path(@posts[1]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            <p>
              <%= truncate(strip_tags(@posts[1].content.to_s), length: 100) %> <%=
              link_to "Leia mais", post_path(@posts[1]) %>
            </p>
            Autor: <%= @posts[1].author %>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card mb-5">
          <% if @posts[2].featured_image.attached? %>
            <div class="card-image">
              <figure class="image is-full">
                <%= image_tag @posts[2].featured_image %>
              </figure>
            </div>
          <% end %>
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4"><%= link_to @posts[2].title, post_path(@posts[2]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            <p>
              <%= truncate(strip_tags(@posts[2].content.to_s), length: 300) %> <%=
              link_to "Leia mais", post_path(@posts[2]) %>
            </p>
            Autor: <%= @posts[1].author %>
          </div>
        </div>
      </div>

      <div class="column is-2">
        <div class="card mb-5">
          <% if @posts[3].featured_image.attached? %>
            <div class="card-image">
              <figure class="image is-full">
                <%= image_tag @posts[3].featured_image %>
              </figure>
            </div>
          <% end %>
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title is-6"><%= link_to @posts[3].title, post_path(@posts[3]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            Autor: <%= @posts[3].author %>
          </div>
        </div>

        <div class="card mb-5">
          <% if @posts[4].featured_image.attached? %>
            <div class="card-image">
              <figure class="image is-full">
                <%= image_tag @posts[4].featured_image %>
              </figure>
            </div>
          <% end %>
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title is-6"><%= link_to @posts[4].title, post_path(@posts[4]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            Autor: <%= @posts[4].author %>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card mb-5">
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title is-3"><%= link_to @posts[5].title, post_path(@posts[5]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            <p>
              <%= truncate(strip_tags(@posts[5].content.to_s), length: 100) %> <%=
              link_to "Leia mais", post_path(@posts[5]) %>
            </p>
            Autor: <%= @posts[1].author %>
          </div>
        </div>
        
        <div class="card mb-5">
          <div class="card-header">
            <div class="card-header-title">
              <h2 class="title is-4"><%= link_to @posts[6].title, post_path(@posts[6]) %> </h2>
            </div>
          </div>
          <div class="card-content">
            <p>
              <%= truncate(strip_tags(@posts[6].content.to_s), length: 100) %> <%=
              link_to "Leia mais", post_path(@posts[6]) %>
            </p>
            Autor: <%= @posts[6].author %>
          </div>
        </div>
      </div>
    </div>
    <a class="is-flex is-justify-content-flex-end is-align-items-center p-5 is-family-monospace" href="/posts"> Ver todas as públicações <span class="icon"><i class="fa fa-arrow-right"></i> </span> </a>
  </div>
</main>