<h1 class="title is-size-4 has-text-centered is-family-sans-serif is-underlined">Todas Públicações</h1>

  <div class="container is-centered">
    <% @posts.each do |post| %>
      <div class=" is-full-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen ">
        <div class="card m-2">
          <% if post.featured_image.attached? %>
            <div class="card-image">
              <figure class="image is-full  is-3by1">
                <%= image_tag post.featured_image %>
              </figure>
            </div>
          <% end %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a href="<%= post_path(id: post.id) %>"><p class="title is-4"><%= post.title %></p></a>
              </div>
            </div>
            <p>
              <%= truncate(strip_tags(post.content.to_s), length: 120) %> <%= link_to "Leia mais", post_path(post) %>
            </p>
            <p>Autor: <%= post.author %> </p>
            <p>Visualizações: <%= post.hits %></p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="columns is-centered is-mobile">
      <div class="column is-two-thirds-mobile m-2">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
