<!DOCTYPE html>
<html>
  <head>
    <title>Livros Explosivos (e como desarmá-los)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:url"           content="https://www.livrosexplosivos.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Livros Explosivos" />
    <meta property="og:description"   content="Opiniões não requisitadas sobre livros e coisas feitas por uma mente de gosto duvidoso" />
    <meta property="og:image"         content="../../assets/images/EXPLOSIVOS.png" />
  </head>

  <body>
    <div id="fb-root"></div>
    <%= render 'shared/navbar' %>
    <% if notice || alert %>
      <div class="notification">
        <button class="delete"></button>
        <%= notice || alert%>
      </div> 
    <% end %>
    <%= render 'shared/logo' %>
    <%= yield %>
    <%= render 'shared/footer' %>


    
    <script id="dsq-count-scr" src="//https-livrosexplosivos-com.disqus.com/count.js" async></script>
  </body>
</html>
