<!DOCTYPE html>
<html>
  <head>
    <title>Livros Explosivos (e como desarmá-los)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:url"           content="https://www.livrosexplosivos.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Livros Explosivos" />
    <meta property="og:description"   content="Opiniões não requisitadas sobre livros e coisas feitas por uma mente de gosto duvidoso" />
    <meta property="og:image"         content="../../assets/images/EXPLOSIVOS.png" />
    <meta name="google-site-verification" content="JDef3E1yHCw7_UxWF7nQUF4-31ewmga0_kHByRcPy4E" />
  </head>

  <body>
    <div id="fb-root"></div>
    <%= render 'shared/navbar' %>
    <% if notice || alert %>
      <div class="notification">
        <button class="delete"></button>
        <%= notice || alert%>
      </div> 
    <% end %>
    <%= render 'shared/logo' %>
    <div class="container p-3">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-hidden-desktop is-hidden-tablet">
          <div class="tile is-child">
            <div class="container mb-2 search">
              <%= render 'shared/search' %>
            </div>
          </div>
        </div>
        <div class="tile is-vertical is-8">
          <div class=" tile is-parent">
            <%= yield %>
          </div>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification">
            <%= render 'shared/sidebar' %>
          </article>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>


    
    <script id="dsq-count-scr" src="//https-livrosexplosivos-com.disqus.com/count.js" async></script>
  </body>
</html>
