<!DOCTYPE html>
<html>
  <head>
    <title>Livros Explosivos (e como desarmá-los)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:url"           content="https://www.livrosexplosivos.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Livros Explosivos" />
    <meta property="og:description"   content="Blog de Livros" />
    <meta property="og:image"         content="https://i.imgur.com/7OcAf8Z.jpeg" />
  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v12.0&appId=305114978243964&autoLogAppEvents=1" nonce="MebjT1sg"></script>
    <%= render 'shared/navbar' %>
    <div class="container">
      <div class='row'>
        <% if notice %>
          <div class="notification">
            <button class="delete"></button>
            <%= notice %>
          </div> 
        <% end %>
        <% if alert %>
          <div class="notification is-danger">
            <button class="delete"></button>
            <%= alert %>
          </div> 
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
